@{
    ViewBag.Title = "Adquirir Entrada";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">

    <div class="col-md-4">
        <h2>Evento 1</h2>
        <p>Nombre  Evento 1</p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Adquirir Entrada &raquo;</a></p>
    </div>



    <div class="col-md-8">

        <div class="row">

            <div class="col-sm-4">
                <p>Nombre: Evento 1</p>
            </div>

            <div class="col-sm-4">
                <p>Tipo: Concierto</p>
            </div>

        </div>


        <div class="row">

            <div class="col-sm-4">
                <p>Fecha: 17/05/2025</p>
            </div>

            <div class="col-sm-4">
                <p>Duracion: 4 horas</p>
            </div>

        </div>

        <h3>Informacion de Pago</h3>


        <div class="row">

            <div class="col-sm-4">
                <p>Precio: 10000</p>
            </div>

            <div class="col-sm-4">
                <p>Cantidad: 2 </p>
            </div>

            <div class="col-sm-4">
                <p>Total: 20000 </p>
            </div>

        </div>


        <div class="row">

            <div class="col-sm-6">
                <p>tarjeta a debitar: Tarjeta 1</p>
            </div>

            <div class="col-sm-6">
                <p><button>Agregar</button></p>
            </div>


        </div>




      


    </div>

</div>